*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
body{
background-color: rgb(255, 255, 255);
/* background-color: rgb(65, 64, 67); */

}
button{
  color:#fff;
  background-color: #ba86f1;
  padding:9px 12px;
  border-radius:7px;
  border:none;
}
button:hover{
  color:#fff;
  background-color: #e682f5;
}
.Main-page h1 img{
width: 45px;
margin-left:10px;

}
.Main-page h1{
  display:flex;
  align-items: center;
  justify-content: start;
  color:#fff;
  /* margin-bottom:30px; */
}
.Main-page{
  /* padding:14px 50px; */
  max-width: 100%;
  overflow-x:hidden;
  min-height: 900px;

}
.leftbar{
  left:0;
  top:0;
  height: 100vh;
  position:fixed;
  background-color: #282828;
  width:200px;
  padding-left:20px;
  padding-top:20px;
  z-index: 100;
}
.navigation{
  display:flex;
  flex-direction: column;
  gap:15px;
  margin-top:10px;
  margin-left:0px;
  font-size:14px;
}
.App-container{
  /* background-color: #b58dff; */
  display:flex;
  max-height: 100vh;
  color:#fff;
}
.notes-list{
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: start;
  gap:20px;

}
.note{
  margin-top:30px;
  flex:8;
  display:flex;
  flex-direction: column;
  padding-left:250px;
  height: 1700px;
  width: 100%;
  position: relative;
  padding-right:50px;
}
.noteMain{
  position: relative;
  height: 800px;
  /* margin-left:200px; */
}
.notes-container{
  display:flex;
  flex-direction: column;
  gap:7px;
  font-size:16px;
  max-height: 350px;
  height: 320px;
  width: 90%;
  overflow-y: auto;
  /* margin-top:15px; */
}
/* --------------------------------- Scroll*/
.notes-container::-webkit-scrollbar {
  width: 8px;
}

.notes-container::-webkit-scrollbar-track {
  background: transparent; /* фон под скроллом */
}

.notes-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* сам скролл */
  border-radius: 4px;
}

.notes-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* .note-div::before {
  content: "• "; 
  color: #8a25f6;
  font-weight: bold;
  margin-right: 6px;
}
.note-div:hover::before {
  content: "📝 ";
  transition: content 0.2s;
} */
.note-div{
}
.note-div:hover{
  color:#ba86f1
}
.today-span{
  margin-top:30px;
  font-size:18px;
display:block;
width:50%;
padding-bottom:5px;
  border-bottom: 1px solid rgb(34, 201, 235);

}
.btn-container{
  width: 90%;
  margin-top:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
}
.container-404{
  /* color:red; */
  /* align-items: center; */
  padding-left:200px;
  max-width: 100%;
  display:flex;
  flex-direction: column;
  gap:0px;
  margin-top:30px;
  position: relative;
  height: 1600px;
}

.container-404 h1{
  text-align: center;
}

.symparagraph{
  font-size: 16px;
  color:#848484;
  margin-bottom:10px;
}
.nav{
  display:flex;
  align-items:center ;
  justify-content: space-between;
  margin-bottom:60px;
  color:#545454;

}
.login-container img{
  width: 40px;
  border-radius:0;
}
.login-container{
  display: flex;
  align-items: center;
  gap:20px;
}
a{
  color:#fff;
  text-decoration: none;
}
/* -------------------------------------- */
.modal{
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  inset:0;
  display:flex;
  cursor: pointer;
  z-index: 100;
}
.modal__main{
  background-color: #fff;
  margin:auto;
  height: 400px;
  width:400px;
  border-radius: 10px;
  padding:40px;
  position: relative;
  cursor:default;
  display:flex;
  gap:15px;
  flex-direction: column;
  align-items: center;
}
.close{
  position: absolute;
  top:0;
  right: 0;

}
.modal_h1{
  
}
.footercss{
  padding-top:30px;
  padding-right:50px;
  display:flex;
  /* padding-top:160px; */
  justify-content: space-between;
  align-items: start;
  height: 150px;
  gap:30px;
  width: 100%;
  background-color: #3880ee;
  color:#fff;
  /* width: 100%; */
  position: absolute;
bottom:0;
  left: 0;
}
.footercss img{
height: 100px;
margin-left:30px;
}
.footer-nav{
  display:flex;
  gap:30px;
}
.firstBlock{
  display:flex;
  flex-direction: column;
  align-items: center;
  
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 380px;
  margin:20px auto 200px;
  padding-top:40px;
  border-radius:10px;
}
.firstBlock img{
  margin-top:10px;
  width: 270px;
  border-radius:50%;

}
.slide-outer{

}
.slider-wrapper{
  color:#fff;
  scroll-behavior: smooth;
  overflow: hidden;
  font-size:50px;
  font-weight: 700;
  /* display: flex; */
  justify-content: center;
  width: 1168px;
  margin:50px auto 0;
  position: relative;
}
.slider-track{
  /* width: fit-content;
  padding-right:200px;
  display:flex;
  gap:20px;
  padding-left:50px;
  padding-right: 50px; */
  width: 1168px;
  display:flex;
}
.slide{
  background-color: #29e29b;
  width: 1168px;
  min-height: 500px;
  padding:60px;
  border-radius:20px;
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
}
.slider-btn{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom:50%;
  transform: translateY(-50%,-50%);

  display:flex;
  justify-content: space-between;
  width: 100%;
}
.rating__container{
  margin-bottom:20px;
  display:flex;
  gap:20px;
}
.stars img {
  width: 20px;
}
.stars img {
  transition: transform 0.3s, opacity 0.3s; 
}

.stars img:hover {
  transform: scale(1.2); 
  opacity: 0.8; 
}